/*
 * cyan: 35DDFF
 * purple: 8E43E8
 * red: FF6886
 * green: 46E895
 * yellow: FFD842
 */

body {
  color: #525f7f;
  position: relative;
}

a:link,
a:visited {
  color: #35DDFF;
}

a:hover,
a:active {
  text-decoration: underline;
}

p {
  font-size: 1.2rem;
}

code {
  /* background-color: rgba(70,232,149, 0.5); */
  background-color: rgba(255,216,66,.5);
  color: #525f7f;
  padding: 0.2em 0.1em;
  font-family: monospace;
  font-size: 1.2em;
}

#search-form {
  display: none;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.headroom--not-top {
  background-color: #8E43E8 !important;
}

.section-shaped .shape-hanami
{
    background: linear-gradient(150deg, #8E43E8 15%, #35DDFF 70%, #46E895 94%);
}
.section-shaped .shape-hanami :nth-child(1)
{
    background: #35DDFF;
}
.section-shaped .shape-hanami :nth-child(2)
{
    background: #35DDFF;
}
.section-shaped .shape-hanami :nth-child(3)
{
    background: #35DDFF;
}
.section-shaped .shape-hanami :nth-child(4)
{
    background: #35DDFF;
}
.section-shaped .shape-hanami :nth-child(5)
{
    background: #46E895;
}

.icon-shape-primary
{
    color: #FF6138;
    background-color: rgba(142,67,232,.5);
}

.btn-wrapper a {
  color: #FFF;
}

.text-primary
{
    color: #8E43E8 !important;
}

a.text-primary:hover,
a.text-primary:focus
{
    color: #79BD8F !important;
}

.btn-primary
{
    color: #fff;
    border-color: #FF6886;
    background-color: #FF6886;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-primary:hover
{
    color: #fff;
    border-color: #FF7997;
    background-color: #FF7997;
}
.btn-primary:focus,
.btn-primary.focus
{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(94, 114, 228, .5);
}
.btn-primary.disabled,
.btn-primary:disabled
{
    color: #fff;
    border-color: #CC3553;
    background-color: #CC3553;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle
{
    color: #fff;
    border-color: #CC3553;
    background-color: #CC3553;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus
{
    box-shadow: none, 0 0 0 0 rgba(94, 114, 228, .5);
}

.btn-outline-primary {
  color: #8E43E8;
  border-color: #8E43E8;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  border-color: #8E43E8;
  background-color: #8E43E8;
}

.badge-primary
{
    color: #FFFF9D;
    background-color: rgba(70,232,149,.8);
}

.badge-secondary
{
    color: #8E43E8;
    background-color: rgba(70,232,149,.5);
}
.badge-secondary[href]:hover,
.badge-secondary[href]:focus
{
    text-decoration: none;

    color: #212529;
    background-color: #d6dae2;
}
.bg-gradient-learn-more
{
    background: linear-gradient(87deg, #46E895 0, #35DDFF 100%) !important;
}

header.navbar {
  background-color: #8E43E8;
}

div.highlight > pre {
  padding: 1em;
}

#getting-started-lead {
  background-color: #f7f8f9;
  padding: 1em;
  min-width: 100%;
}

main p {
  min-width: 100%;
  text-align: justify;
}

#secondary-navigation a:link,
#secondary-navigation a:visited {
  color: #99979c;
}

.ct-sidebar .nav > li > a:hover,
.ct-sidebar .nav > li > a:active,
#secondary-navigation a:hover,
#secondary-navigation a:active {
  color: #8E43E8;
}

.nav-link.active {
  font-weight: 500;
  padding-left: 1.5rem;
  color: #8E43E8 !important;
  background-color: transparent;
  border-left: 1px solid #8E43E8;
}

.ct-page-title {
  border-left: 2px solid #8E43E8;
}

.ct-sidebar .nav > .active > a,
.ct-sidebar .nav > .active > a:hover,
.ct-sidebar .nav > .active > a:active {
  color: #8E43E8;
}

.ct-sidebar .nav>.active>a:before {
  background-color: #8E43E8;
}

/* This corresponds to .alert class from original theme */
p.notice,
p.convention,
p.warning {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border: .0625rem solid transparent;
  border-radius: .25rem;
  font-size: .875rem;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: .25rem;
}

p.notice {
  color: #FFF;
  border-color: #35DDFF;
  background-color: #35DDFF;
}

p.convention {
  color: #fff;
  border-color: #46E895;
  background-color: #46E895;
}

p.warning {
  color: #fff;
  border-color: #fc7c5f;
  background-color: #fc7c5f;
}

p.convention code,
p.warning code {
  background-color: rgba(255, 255, 255, 0.8);
}

span.ct-toc-link {
  cursor: pointer;
  font-size: 1em;
}

ul.ct-sidenav {
  margin-left: 0.5em;
}

.btn-clipboard,
.btn-clipboard:hover {
  background-color: #8E43E8;
}

.text-align-right {
  text-align: right;
}
