<div class="col-12 col-md-3 col-xl-2 ct-sidebar">
  <nav class="collapse ct-links" id="ct-docs-nav">
    <!-- Show links for all groups -->
    <div class="ct-toc-item active">
    {{ $hanamiversion := .CurrentSection.FirstSection.Params.version }}
    {{ range (where .Site.Sections "Params.version" "=" $hanamiversion) }}
      {{ range sort .Sections ".Params.order" }}
        {{ $t := title ( .Title | humanize) }}
        <span class="ct-toc-link">{{ $t }}</span>
        <ul class="nav ct-sidenav">
        {{ range sort .Pages ".Params.order" }}
          {{ if eq .URL $.Page.URL }}
          <li class="active ct-sidenav-active">
          {{ else }}
          <li>
          {{ end }}
            <a href="{{ .URL }}">{{ .Title }}</a>
          </li>
        {{ end }}
        </ul>
      {{ end }}
    {{ end }}
    </div>
  </nav>
</div>
