<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="{{ "/" | relURL }}">
        <img src="{{ "/assets/img/brand/white.png" | relURL}}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{{ "/" | relURL }}">
                <img src="{{ "/assets/img/brand/white.png" | relURL}}">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://github.com/{{ .Site.Params.Github }}" target="_blank" data-toggle="tooltip" title="Star us on Github">
              <i class="fa fa-github"></i>
              <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
              <i class="fa fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.facebook.com/{{ .Site.Params.Facebook }}" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.instagram.com/{{ .Site.Params.Instagram }}" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a href="{{ "getting-started" | relURL }}" target="_blank" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon text-primary">
                <i class="ni ni-spaceship mr-2"></i>
              </span>
              <span class="nav-link-inner--text text-primary">Get started</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
<div class="position-relative">
  <!-- shape Hero -->
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-hanami">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            {{ if eq .Kind "taxonomy" }}
            <h1 class="display-3  text-white">{{ .Title | upper }} <!-- gem or tag -->
              {{ with .Params.description }}
              <span>{{ . }}</span>
              {{ end }}
            </h1>
            {{ else }}
              {{ with .Params.Preview }}
              <h1 class="display-3 text-white">{{ $.Title }} <!-- snippet -->
              <span>{{ . }}</span>
            </h1>
              {{ else }}
            <h1 class="display-3  text-white">Hanami <span>The web, with simplicity</span> <!-- home page -->
            </h1>
            <p class="lead  text-white">Learn Hanami with our extensive <strong>guides</strong>.</p>
            <div class="btn-wrapper">
              <a href="http://hanamirb.org" class="btn btn-primary btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                <span class="btn-inner--text">Main website</span>
              </a>
              <a href="{{ "getting-started" | relURL }}" class="btn btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon text-primary"><i class="ni ni-spaceship"></i></span>
                <span class="btn-inner--text text-primary">Get started</span>
              </a>
            </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- 1st Hero Variation -->
</div>
