<meta name="author" content="Hanami team">
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/brand/favicon.ico">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="/assets/css/argon.css?v=1.0.1" rel="stylesheet">
    <link type="text/css" href="/assets/css/theme.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/syntax.css" rel="stylesheet">
    <!-- Docs CSS -->
    <link type="text/css" href="/assets/css/docs.min.css" rel="stylesheet">
