<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Site.Params.Description }}">

    <meta property="og:url"          content="{{ .Permalink }}" />
    <meta property="og:type"         content="article" />
    <meta property="og:locale"       content="en_US" />
    <meta property="og:site_name"    content="{{ .Site.Title }}" />
    <meta property="og:title"        content="{{ .Site.Title }}" />
    <meta property="og:description"  content="{{ .Site.Params.Description }}" />
    <meta property="og:image"        content="{{ .Site.BaseURL }}assets/img/brand/hanami-snippets-social.png" />
    <meta property="og:image:type"   content="image/png" />
    <meta property="og:image:width"  content="1600" />
    <meta property="og:image:height" content="1600" />
    <meta property="og:image:alt"    content="{{ .Site.Params.Description }}" />

    <meta name="twitter:card"        content="summary" />
    <meta name="twitter:site"        content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator"     content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:title"       content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Site.Params.Description }}" />
    <meta name="twitter:image"       content="{{ .Site.BaseURL }}assets/img/brand/hanami-snippets-social.png" />

    <title>{{ .Site.Title }}</title>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <img src="/assets/img/theme/landing.png" class="img-fluid floating">
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="badge badge-circle badge-secondary icon icon-shape rounded-circle mb-5">
                <i class="ni ni-settings-gear-65"></i>
              </div>
              <h3>Learn by topic</h3>
              <p>We have snippets for all the Hanami components:</p>
              <ul class="list-unstyled mt-5">
                {{ range .Site.Params.Gems }}
                {{ $icon := index $.Site.Params.icons . }}
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-secondary mr-3">
                        <i class="fa {{ $icon }}"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0"><a href="/gems/{{ . | urlize }}"><span class="text-primary">{{ . }}</span></a></h6>
                    </div>
                  </div>
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ partial "footer.html" . }}
    <script src="/assets/js/theme.js"></script>
  </body>
</html>
